@model IEnumerable<Tree.API.Models.Node>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

    <head>
        <link href="~/Styles/tree.css" rel="stylesheet" type="text/css" />

        <link href="~/Styles/all.min.css" rel="stylesheet">
        <link href="~/Styles/fontawesome.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />

    </head>
    <body>

        <div class="app">
            <div class="content">
                <div class="row">

                </div>

                    <div class="row">
                        <div class="col-sm-2 form">
                            <br />
                            <p id="error"></p>
                            <input type="hidden" id="Id" value="0" />
                            <label>Nazwa</label>
                            <input type="text" id="Name"  oninput="validate(this)"/>
                            <br />
                            <label>Rodzic</label>
                            <select id="ParentId">
                            </select>

                            <br />
                            <button id="add" onclick="add()">Dodaj</button>
                            <button id="edit" onclick="change()">Edytuj</button>
                        </div>
                        <div class="col-sm-8">
                            <div id="tree"></div>

                        </div>
                        <div class="col-sm-2">
                            <i class="fas fa-tools"></i> - Edytuj
                            <br />
                            <i class="fas fa-trash"></i> - Usuń (Razem z dziećmi)
                            <br />
                            <i class="fas fa-filter"></i> - Sortuj gałąź
                            <br />
                            <i class="fas fa-sort-alpha-down"></i> - Sortuj całe drzewo
                            <br /><br /><br /><button id="rozwin" onclick="rozwin()">Rozwin</button>
                        </div>
                        <br /><br /><br />

                   
                    </div>
                </div>
                <div class="footer">
                    <center style="color:white; margin-top:10px;margin-left:50px;">Maciej Matyaszek</center>
                </div>

            </div>


        <script src="~/Scripts/Tree.js"></script>


    </body>