
a {
    padding:5px;
}


li {
    margin-bottom: 5px;
    padding-left: 10px;
    margin-left:20px;
}
i{

   
}

ul, #myUL {
    list-style-type: none;

}

#myUL {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    ' transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

#error{
    font-weight:bold;
    color:darkred;
}


}

#tree{
 
  background-color: red;
  
}



body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app {
    background-color: #eee;
    text-align: center;
    display: grid;
    grid-template-areas: "c c c c c c c c c c c c" "f f f f f f f f f f f f";
}


.content {
    grid-area: c;
    min-height: 90vh;
}

.footer {
    grid-area: f;
    background-color: black;
    min-height: 10vh;
}

.header{
    background-color:balck;
}
.form {
    background-color: grey;
    min-height: 90vh;
}
i{
padding:2px;

}

